.header{
    position: relative;
    width: 95%;
    height: 30vh;
    background-image: url("../../assets/img/cinema-strip-2713352_640.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 25px;
    box-shadow:0 0 15px cornflowerblue;
    margin: 1em auto;

}

.header h1{
    position: relative;
    z-index: 2;
    color: cornflowerblue;
    font-size: 4rem;
}


@media (min-width: 1024px) {
   .header{
       background-image: url("../../assets/img/cinema-strip-2713352_1280.jpg");
       background-size: cover;
       background-attachment: fixed;
       background-position: 50%;
       height: 40vh;
       flex-direction: row;
   }

    .header h1{
        font-size: 6rem;
    }

}