.fav{
    width: 98%;
    border-radius: 25px;
    min-height: 80vh;
    position: relative;
    overflow: hidden;
    z-index: 3;
    box-shadow: 0 0 15px cornflowerblue;
    color: cornflowerblue;
    margin: 1em auto;
}

.fav h2{


    font-size: 3rem;
    text-align: center;
    padding: 2em 2em;
    text-transform: uppercase;
 color: #709cea;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    background-image: url("/src/assets/img/cinema-strip-2713352_640.jpg");
    background-position: center;
    background-size: cover;
}

@media (min-width: 912px) {
    .fav h2{
        background-image: url("/src/assets/img/cinema-strip-2713352_1280.jpg");
    }

}