.others {
    position: relative;
    margin: 1em auto;
    width: 98%;
    border-radius: 25px;
    box-shadow: 0 0 15px cornflowerblue;
    overflow: hidden;
    padding: 2em;
    text-align: center

}

.others li{
    width: 98%;
    border-radius: 25px;
    box-shadow: 0 0 5px cornflowerblue;
    overflow: hidden;
    margin: 1em auto 2em;
    padding: 2em 1em;
}

.others ul {
    list-style: none;
}

.others h2 {
    font-size: 2.2rem;
    margin: 1em auto;
    text-align: center;
    font-weight: bolder;
    border-bottom: 1px solid cornflowerblue;
    padding: 1em;
}

.others h3 {
    font-size: 1.7rem;
    text-transform: uppercase;
    line-height: 130%;
    margin: 0.7em auto;
    font-weight: lighter;
}

.others h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 120%;
    margin: 0.5em auto;
    font-weight: lighter;
}

.others.btn {
    display: inline;
    width: auto;
    padding: 0.6em;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

@media (min-width: 912px) {



    .others h2{
        font-size: 3rem;

    }

    .others h3 {
        font-size: 2.2rem;

    }

    .others h4 {
        font-size: 2rem;

    }


    .others{
        max-width: 1200px;
        margin: 0 auto;

    }


}