.proposed {
    width: 98%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    margin: 0.6em 6em;
    align-items: center;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 0 15px cornflowerblue;

}

.proposed h2 {
    margin: 0.6em auto;
    padding: 0.6em;
}

.proposed .picture {
    width: 80%;
    margin: 1em;

}

.proposed .picture img {
    width: 100%;
}

@media (min-width: 913px) {
    .proposed {
        max-width: 1200px;
        margin: 2.5em 4em;
    }

    .proposed .picture {
        width: 500px;
    }

}