.userPanel {
    position: relative;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 0 15px cornflowerblue;
    margin: 1em auto;
    overflow: hidden;
    /*background-color: #3f3a3a;*/


}
.btns {
    width: 100%;
}


.text_user {
    margin: 3em 2em;
    padding: 2em;
    border-radius: 25px;
    box-shadow: 0 0 15px cornflowerblue;
    flex-grow: 1;
}
form.form {
    border-radius: 8px;
    border: 1px solid cornflowerblue;
    box-shadow: 0 0 10px cornflowerblue;
    overflow: hidden;
    background-color: #3f3a3a;
}

.userPanel form.register.loginForm button {
    width: 30%;

}

.text_user {
    background-color: #3f3a3a;
}

.userPanel h3, p {
    text-align: center;
    font-size: 2.2rem;
    color: cornflowerblue;
}

.userPanel p {
    font-size: 1.9rem;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid cornflowerblue;
}

.picture.input {
    width: 4.5rem;
    overflow: hidden;
    border-radius: 50%;
    flex-grow: 0;
}

.picture.input img {
    width: 100%;
}


button {
    width: 100%;
    color: #363636;
    background-color: cornflowerblue;
    border-radius: 12px;
    line-height: 100%;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1em;
}

@media (min-width: 740px) {
    .userPanel {

        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }




    .form {
        margin: 2em
    }

    .userPanel h3, p {
        text-align: left;

    }


}